#widget-container {
  .jumbotron {
    color: white;
    border-radius: 0;

    &.twitter {
      background-color: #12b0c5;
      p {
        margin-bottom: 20px;
      }
    }
    
    &.profile {
      background-color: #ec663c;
    }
    
    &.instagram {
      background-color: #9c4274;
      .thumbnail{
        background-color: transparent;
        border: none;
        img {
          border-radius: 10;
        }
      }
    }
    
    h2 {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}